*
{
    text-decoration:none !important;
    font-family: 'Source Sans Pro', sans-serif;
}
body
{
    margin:0;
    padding:0;
    background-image:url("bg.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    background-color:#202020 !important;
}
.feldarril-logo
{
    font-family: 'Courgette', cursive;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Courgette', cursive;
}
.separador
{
    margin-top:10px;
    margin-bottom:10px;
    width:100% !important;
}
.redtitle
{
    color:#961515 !important;
    text-shadow:gray 1px 1px 2px;
}
.redphasize
{
    color:#DC3545 !important;
}
@media only screen and (min-width: 981px)
{
    .hidesk
    {
        display: none !important;
    }
    .transparency
    {
        opacity:0.6 !important;
    }
}
@media only screen and (max-width: 980px) and (max-width: 1090px)
{
    .hidemov
    {
        display: none !important;
    }
    .transparency
    {
        opacity:1 !important;
    }
}
